<?xml version="1.0" ?>
<!--

/**
 * @author Kashyap Team
 * @copyright Copyright (c) 2018 Kashyap (http://kashyapsoftware.com/)
 * @package Kashyap_AttributeSplash
*/

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Kashyap_AttributeSplash::AttributeSplash" sortOrder="10" title="AttributeSplash">
					<resource id="Kashyap_AttributeSplash::AttributeSplash_save" sortOrder="10" title="Save AttributeSplash"/>
					<resource id="Kashyap_AttributeSplash::AttributeSplash_delete" sortOrder="20" title="Delete AttributeSplash"/>
					<resource id="Kashyap_AttributeSplash::AttributeSplash_update" sortOrder="30" title="Update AttributeSplash"/>
					<resource id="Kashyap_AttributeSplash::AttributeSplash_view" sortOrder="40" title="View AttributeSplash"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
