<?xml version="1.0"?>
<!--

/**
 * @author Kashyap Team
 * @copyright Copyright (c) 2018 Kashyap (http://kashyapsoftware.com/)
 * @package Kashyap_AttributeSplash
*/

-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
	<system>
	    <tab id="Kashyap" translate="label" sortOrder="2000">
            <label>Kashyap</label>
        </tab>
		<section id="attributesplash" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Attribute Splash</label>
			<tab>Kashyap</tab>
			<resource>Kashyap_AttributeSplash::config_attributesplash</resource>
			<group id="general_settings" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General Settings</label>
				<field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="attribute_code" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Attribute Splash Attribute</label>
                    <comment>Creates SEO-friendly Attribute Splash pages. Every page contains all your products filtered by particular brand and contains unique content that you assigned for the option of brand attribute.</comment>
                    <source_model>Kashyap\AttributeSplash\Model\Source\AttributeSplashCollection</source_model>
					<depends>
						<field id="enable">1</field>
					</depends>
                </field>

				<field id="route" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>URL Key</label>
					<depends>
						<field id="enable">1</field>
					</depends>
				</field>
				
				<field id="url_suffix" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Url Suffix</label>
                    <comment>Url Suffix should start with a dot(.), Ex:- .html</comment>
					<depends>
						<field id="enable">1</field>
					</depends>
				</field>

				<field id="page_title" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Page Title</label>
                    <comment>This will display Attribute Splash index page title and Breadcrumbs.</comment>
					<depends>
						<field id="enable">1</field>
					</depends>
				</field>

				<field id="enable_menu" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Add Attribute Splash Link to Top Menu</label>
                    <source_model>Kashyap\AttributeSplash\Model\Source\TopmenuLink</source_model>
                    <comment>Display Link to All Brands Page in Top Menu.</comment>
					<depends>
						<field id="enable">1</field>
					</depends>
				</field>

				<!--<field id="enable_search" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Search Block</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>-->
			</group>
		</section>
	</system>
</config>